@-webkit-keyframes puff-out-center{0%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}}@keyframes puff-out-center{0%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}}

 @-webkit-keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}


ion-content {
  --background: #fbcb11;
}
.contenedor {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  img {
    width: 200px;
    -webkit-animation:puff-out-center 1s cubic-bezier(.165,.84,.44,1.000) 2.5s both;
    animation:puff-out-center 1s cubic-bezier(.165,.84,.44,1.000) 2.5s both;
  }
  p {
    font-size: 40px;
    font-weight: 600;
    color: #000000;
  }
  .text1 {
    padding: 0;
    margin: 0;
    -webkit-animation: tracking-out-contract 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
    animation: tracking-out-contract 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
    position: absolute;
    //right: 80px;
    bottom: 600px;

  }
  .text2 {
    padding: 0;
    margin: 0;
    -webkit-animation: tracking-out-contract 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
    animation: tracking-out-contract 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
    position: absolute;
    //left: 80px;
    top: 600px;
  }
  .text3 {
    padding: 0;
    margin: 0;
    -webkit-animation: tracking-out-contract 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
    animation: tracking-out-contract 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
    position: absolute;
    //left: 80px;
    top: 600px;
  }
}